<div> 
	<center>
		<h3>Login</h3>
		<div class="input-field col s6">
			<input ng-model="email" id="icon_prefix" type="text" class="validate">
			<label for="icon_prefix">Email address</label>
		</div>
		<div class="input-field col s6">
			<input ng-model="password" id="icon_prefix" type="password" class="validate">
			<label for="icon_prefix">Password</label>
		</div>
		<button type="button" ng-click="login()" class="btn waves-effect waves-light">Login</button>
		or <a href="/#/signup">Signup</a>
	</center>
</div>
