<div> 
	<center>
		<h3>Signup</h3>
		<div class="input-field col s6">
			<input ng-model="username" id="icon_prefix" type="text" class="validate">
			<label for="icon_prefix">Username</label>
		</div>
		<div class="input-field col s6">
			<input ng-model="email" id="icon_prefix" type="text" class="validate">
			<label for="icon_prefix">Email address</label>
		</div>
		<div class="input-field col s6">
			<input ng-model="password" id="icon_prefix" type="password" class="validate">
			<label for="icon_prefix">Password</label>
		</div>
		<button type="button" ng-click="signup()" class="btn waves-effect waves-light">Signup</button>
		or <a href="/#/login">Login</a>
	</center>
</div>
